/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Jost:wght@500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
	--header-height: 3.5rem;

	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	--first-color: hsl(40, 24%, 64%);
	--white-color: hsl(40, 31%, 89%);
	--black-color: hsl(40, 14%, 14%);
	--body-color: #333;

	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: "Jost", sans-serif;
	--second-font: "Cormorant Garamond", serif;
	--biggest-font-size: 3.5rem;
	--bigger-font-size: 2.75rem;
	--big-font-size: 1.25rem;
	--normal-font-size: 0.938rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
	:root {
		--biggest-font-size: 6rem;
		--bigger-font-size: 4.5rem;
		--big-font-size: 2rem;
		--normal-font-size: 1rem;
	}
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--black-color);
}

a {
	text-decoration: none;
	color: black;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.main {
	overflow: hidden;
}

.container {
	display: inline-flexbox;
	font-size: 1.5rem;
}
/*=============== HEADER & NAV ===============*/
@media screen and (min-width: 1160px) {
	.nav__menu {
		margin-left: 5%;
	}
}
header {
	position: fixed;
	width: 100%;
	background-color: var(--body-color);
	z-index: var(--z-fixed);
	overflow: hidden;
	transition: background-color 0.4s, box-shadow 0.4s;
}

.nav-link {
	display: flexbox;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
	text-align: center;
	padding: 8px;
	color: white;
}

.nav-link:hover {
	background-color: #545454;
	border-radius: 8px;
	transition: 0.25s;
}

.nav-menu {
	padding: 2%;
}

.nav__logo {
	display: inline-flexbox;
	float: left;
	position: relative;
	padding: 1.5%;
	margin: 0;
}

.nav__toggle,
.nav__close {
	display: flex;
	font-size: 1.5rem;
	cursor: pointer;
	position: absolute;
	top: 1.5rem;
	right: 2.5rem;
}

.ri-menu-line,
.ri-close-large-line {
	color: white;
}
/* Navigation for Smaller devices */
@media screen and (max-width: 1150px) {
	.nav-menu {
		position: fixed;
		top: -120%;
		left: 0;
		background-color: var(--body-color);
		box-shadow: 0 4px 24px hsla(40, 24%, 4%, 0.1);
		width: 100%;
		padding-block: 5rem 4.5rem;
		transition: top 0.4s;
		transition: all 0.4s;
	}
}
.nav__list {
	text-align: center;
	display: flex;
	flex-direction: column;
	row-gap: 2.5rem;
	list-style: none;
}

.nav-link {
	color: white;
}

/* Show menu */
.show-menu {
	top: 0;
}
.show-none {
	display: none;
}

/* For large devices */

.hero {
	margin-top: 6%;
	background-image: url("../img/hero-image-desk.png");
	background-size: cover;
	padding: 2rem 0;
}

.hero img {
	width: 30%;
	margin-left: 70%;
	display: flex;
	overflow: hidden;
}

.middle {
	background-color: #333;
	text-align: center;
	padding: 3rem 0;
}

.product {
	width: 400px;
	height: 600px;
	vertical-align: top;
	display: inline-block;
	margin: 0.5rem;
	justify-content: space-evenly;
	padding: 2rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 90%;
	border-radius: 8px;
}

.product:hover {
	background-color: rgba(255, 255, 255, 1);
	transition: 0.4s;
}
.product p,
.product li {
	font-size: 70%;
	text-align: justify;
}

.product ul {
	padding-left: 30px;
}

.product img {
	width: 337px;
	height: 260px;
	border-radius: 8px;
}

.background {
	background-image: url("../img/image-9.png");
	background-size: cover;
	padding: 2% 1%;
	text-align: center;
}

/* Contact CSS */
.contactUs {
	text-align: center;
}
.contact {
	margin: auto;
	padding: 20px;
	z-index: 10;
	display: flexbox;
	width: 65%;
	height: 50%;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact h2 {
	margin-top: 0;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 1.5px;
	font-size: 40px;
}
.contact p {
	margin: 2rem;
	font-size: 25px;
	line-height: 32px;
}

.number div {
	display: inline-table;
	justify-content: space-evenly;
}

.links {
	color: blue;
}
.number img {
	width: 200px;
	border-radius: 100%;
	max-width: 100%;
	overflow: hidden;
	height: 190px;
	object-fit: scale-down;
	background: linear-gradient(134deg, white 20%, #d4d4d4 100%);
	padding: 10px;
}

.space {
	margin-right: 15%;
}
/* Sign Up CSS */
.signUp {
	margin: auto;
	padding: 20px;
	z-index: 10;
	display: flexbox;
	text-align: center;
	max-width: 50%;
	min-width: 30%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.signUp h2 {
	margin-top: 0;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 1.5px;
	font-size: 36px;
}
#survey-form {
	padding: 1.5rem;
	display: flexbox;
	margin: auto;
	text-align: center;
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 8px;
	max-width: 80%;
	min-width: 40%;
	font-size: 16px;
}
.form {
	text-align: left;
	margin-bottom: 25px;
	padding-right: 25px;
}

input,
select {
	margin: 10px 0 0 0;
	width: 100%;
	min-height: 2em;
	border-radius: 8px;
	padding: 5px;
	border: 0.1px solid #d9d9d9;
	color: black;
	padding-left: 16px;
	font-size: 16px;
}
.container_form {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container_form input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 4px;
}

.container_form:hover input ~ .checkmark {
	background-color: #ccc;
}

.container_form input:checked ~ .checkmark {
	background-color: #333;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container_form input:checked ~ .checkmark:after {
	display: block;
}

.container_form .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

button {
	width: 100%;
	padding: 1rem;
	margin-top: 50px;
	background: #333;
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
}

footer {
	position: relative;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 1rem 0;
	margin: 0;
}

.logo-media {
	margin: 10px;
}

@media screen and (max-width: 400px) {
	.product {
		width: 350px;
		height: 500px;
	}
	.product img {
		width: 300px;
		height: 200px;
		padding: 0;
		margin: auto;
	}
}

@media screen and (max-width: 1150px) {
	.hero a img {
		width: 30%;
		margin-top: 5%;
	}
	.nav__toggle,
	.nav__close {
		font-size: 36px;
	}
	.nav-link {
		padding: 8px 400px;
	}
}

@media screen and (min-width: 1150px) {
	.container {
		margin-inline: auto;
	}
	.nav {
		height: calc(var(--header-height) + 2rem);
	}
	.nav__toggle,
	.nav__close {
		display: none;
	}
	.nav__list {
		flex-direction: row;
		column-gap: 4.5rem;
	}
}
/* For mobile view ports */
@media screen and (max-width: 700px) {
	.nav__toggle,
	.nav__close {
		font-size: 26px;
		top: 1rem;
	}
	.hero {
		background-image: url("../img/hero-image-desk.png");
	}
	.hero a img {
		width: 80%;
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
		padding: 1%;
		background-color: rgb(255, 255, 255, 0.7);
	}
	.nav__toggle,
	.nav__close {
		font-size: 36px;
	}
	.nav-link {
		padding: 8px 130px;
	}
	.middle {
		padding: 1rem 0;
	}
}
